Order allow,deny
Allow from all

DirectoryIndex app/view/index.php?page=login
Options -Indexes

ErrorDocument 404 "La pagina buscada no existe o no se encuentra disponible"

RewriteEngine on
RewriteRule ^home/$ app/view/index.php?page=home [L]
RewriteRule ^logout/$ app/view/index.php?page=logout [L]

RewriteRule ^misDatos/$ app/view/index.php?page=misDatos [L]
RewriteRule ^realizarPedidos/$ app/view/index.php?page=realizarPedidos [L]
RewriteRule ^pedidos/$ app/view/index.php?page=pedidos [L]
RewriteRule ^albaranes/$ app/view/index.php?page=albaranes [L]
RewriteRule ^facturas/$ app/view/index.php?page=facturas [L]

RewriteRule ^altaArticulo/$ app/view/index.php?page=altaArticulo [L]
RewriteRule ^altaCliente/$ app/view/index.php?page=altaCliente [L]
RewriteRule ^altaGestor/$ app/view/index.php?page=altaGestor [L]
RewriteRule ^solicitudes/$ app/view/index.php?page=solicitudes [L]
RewriteRule ^clientes/$ app/view/index.php?page=clientes [L]
RewriteRule ^gestores/$ app/view/index.php?page=gestores [L]